%div.footer
    %div style="margin: 5px"
        -include 'sharing.html'
    %p
        Content licensed under the
        = " "
        %a href="{{site.reflinks.content_license.url}}"
            = site.reflinks.content_license.title
        .
    %p
        Website powered by
        = " "
        %a href="http://urubu.jandecaluwe.com"
            Urubu
        .

